<div class="login-block">
    <div class="login-title">Вход</div>
    <div class="login-form">

        {{> input_register id="login" label="Логин" type="text" }}
        {{> input_register id="password" label="Пароль" type="password" }}

    </div>

    <div class="buttons-group">
        <button class="submit-button">Авторизоваться</button>
        <a class="form-link" href="registration">Нет аккаунта?</a>
    </div>

</div>

</div>