.chat{
    height: fit-content;
    border-top: 2px solid #bda7cf;
    /* border-bottom: 1px solid #bda7cf; */
    align-items: flex-start;
    margin: 0 10px;
    padding: 12px 0;
    display: flex;
    justify-content: space-around;
}
.chat:last-child{
    border-bottom: 2px solid #bda7cf;
}

.chat:hover{
    box-shadow: 0 0 15px #bda7cf;
    cursor: pointer;
    background-color: rgb(231 211 245);
}

 .active , .active:hover {
    box-shadow: 0 0 15px #bda7cf;
    cursor: pointer;
    background-color: rgb(230 194 255);
}

.message-main{
    flex-direction: column;
    display: flex;
}

.chat-avatar{
    /* background: #625a77 url("static/avatar-default_50х50.png") 50% no-repeat; */
    width: 48px;
    height: 48px;
    border-radius: 70px;   
    display: flex;
    justify-content: left;

}

.message-top{
    justify-content: space-between;
    display: flex;
}
.message-bottom{
    height: 100%;
    justify-content: space-between;
    display: flex;
}


.user-name{
    color: #1e1e1e;
    height: 13px;
    margin: 3px 0px;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
}

.last-message{
    width: 12em;
    color: rgb(75, 60, 92);
    margin: 0;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    padding-left: 10px;
}

.time{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: #999;
    margin: 0;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
}

.count{
    width: 22px;
    height: 20px;
    font-size: 13px;
    background: #625489;
    border-radius: 70%;
    justify-content: center;
    margin-top: 14px;
    padding-top: 4px;
    display: flex;
    color: #fff;
}

.count:empty {
	display: none;
}