<div class="error-center">
    <div class="error-number">
      500
    </div>
    <div class="error-center-message">
      Произошла ошибка, мы уже чиним
    </div>
    
        <a class="main-link" href="index.html">Вернуться на главную
    
</div>
  