<div class="register-block">
        <div class="register-title">Регистрация</div>
        <div class="register-form">
            {{> input_register id="email" label="Почта" type="email" }}
            {{> input_register id="login" label="Логин" type="text" }}
            {{> input_register id="name" label="Имя" type="text" }}
            {{> input_register id="second_name" label="Фамилия" type="text" }}
            {{> input_register id="phone" label="Телефон" type="phone" }}
            {{> input_register id="password" label="Пароль" type="password" }}
            {{> input_register id="password_confirm" label="Пароль (ещё раз)" type="pasword" }}

        </div> 
           
        <div class="buttons-group">
                <button class="submit-button">Зарегистрироваться</button>
                <a class="form-link" href="login">Есть аккаунт?</a>
        </div>
            
        </div>
        
    </div>