<div class="container">

    <div class="sidebar">
        <a class="profile-link" href="settings_user">Профиль</a>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Поиск">
        </div>

        <div class="chats-list">

            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}
            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}
            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}
            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}
            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}
            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}
            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}
            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}

        </div>

    </div>

    <div class="chat-screen">
        <div class="chat-header">
            <div class="screen-user-info">
                <div class="screen-chat-avatar"></div>
                <div class="screen-user-name">Вадим</div>
            </div>
            <div class="chat-settings">...</div>
        </div>
        <div class="chat-messages">

            {{> message name="Федор" type="user" message="fvrvervetbvetv"  time="10:45"}}
            {{> message name="Федор" type="user" message="fvrvervetbvetv"  time="10:45"}}
            {{> message name="Федор" type="other" message="fvrvervetbvetv"  time="10:45"}}
            {{> message name="Федор" type="user" message="fvrvervetbvetv"  time="10:45"}}
            {{> message name="Федор" type="other" message="fvrvervetbvetv"  time="10:45"}}
            {{> message name="Федор" type="other" message="fvrvervetbvetv"  time="10:45"}}

        </div>
        <div class="message-add-area">
            <div class="add-file"></div>
            <input type="text" class="input-message" name="message" placeholder="Сообщение">
            <div class="add-button">></div>
        </div>
    </div>



</div>
