<div class="container-settings">
    <div class="return-block"><a href="index" class="return-arrow"></a></div>
    <div class="settings-block">

        <form class="settings-form"><div class="setting-avatar"></div>

            {{> input_setting id="email" label="Почта" type="email" }}
            {{> input_setting id="login" label="Логин" type="text" }}
            {{> input_setting id="first_name" label="Имя" type="text" }}
            {{> input_setting id="second_name" label="Фамилия" type="text" }}
            {{> input_setting id="phone" label="Телефон" type="phone" }}


            <button class="settings-button">Сохранить</button>
        </form>



    </div>
</div>