<div class="error-center">
    <div class="error-number">
      404
    </div>
    <div class="error-center-message">
      Такой страницы нет, она удалена или вы что-то напутали
    </div>
    <a class="main-link" href="index">Вернуться на главную</a>
</div>