.input-wrapper{
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
    display: flex;
    opacity: 0.8;
}

.label{
    color: #9c9c9d;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
