<div class="message-container-{{type}}">
    <div class="message-text">
        <div class="message-user-info">
            <div class="user-name">{{name}}</div>
            <div class="message-time">{{time}}</div>
        </div>
       {{message}}
    </div>
</div>