<div class="container">

    <div class="sidebar">
        <a class="profile-link" href="settings_user">Профиль</a>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Поиск">
        </div>

        <div class="chats-list">

            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}
            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}
            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}
            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}
            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}
            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}
            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}
            {{> chat name="Федор" last_message="Изображение" avatar="static/avatar-default__50x50.png"  count="4"}}

        </div>

    </div>

    <div class="chat-screen">
        <div class="system-message">
            Выберите чат чтобы отправить сообщение
        </div>
    </div>

</div>
